$primary-color:#448ccb;
$light-color:white;
$dark-color:black;
$font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}