@import 'config';


// header 

header{
   background-color:$primary-color;
   color:$light-color;
   width:auto;
   font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
   

  // the left side fake nav bar
 .navleft{
   padding-top:10pt;
   margin-left:100pt;
  }
   .navleft a {
    color: $light-color;
    text-decoration: none;
    font-size: 12pt;
    border-right:1pt solid #bbb;
   }
   .navleft a:last-child {
    border-right: none;
  }

  .headerbot{
    display:flex;
  }
// the logo DEMOSITE
  .logo{
    width: 50%;
    margin: 20pt 0 20pt 100pt;
  }
  .logo a{
    font-size: 25pt;
    text-decoration: none;
    color:$light-color;
    padding-top: 20pt;
    
  }
  .logo .bold {
    font-weight: 900;
  }
  .logo .thick {
    font-weight: 400;
  }

// the right side navigation bar with button with dropdown option and content
.topright{
  margin-top: 30pt;
  width: 50%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-start;
}

 .topright a {
  text-align: center;
  padding: 0 20pt 0pt 16pt;
  text-decoration: none;
  font-size: 15pt;
  font-weight: bold;
  }
  
  // the button WORK and dropdown
  .dropdown {
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 15pt;
    font-weight: bold;
    border: none;
    outline: none;
    color: $light-color;
    background-color: inherit;
    font-family: inherit;
    padding: 0 15pt 0 15pt;
    cursor: pointer;
  }

  .topright .dropdown :hover {
    color:$dark-color;
  }

  .dropdown :active {
    color:$dark-color;
  }

  .dropdown-content {
    display: none;
    border: 2px solid black;
    background-color:black;
    width: 100pt;
    position:absolute;
  }

  .arrow {
    height: 15pt;
    width: 15pt;
    background-color: black;
    transform: rotate(45deg);
  }
 
  .dropdown-content a {
    color:$light-color;
    padding: 12px 20px;
    font-size: 11pt;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: $light-color;
  }
  
 .dropdown:hover .dropdown-content {
   display: block;
 }
}


// First row 
.row_1{
  display:flex;
  flex-direction: row;
}
  
.welcome{
    background-color: $primary-color;
    font-family: $font-family;
    color:$light-color;
    margin: 70pt 50pt 50pt 100pt;
    padding: 50pt 50pt 0 50pt;
    width:17%;
    height: auto;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    
    h1{
      font-size: 41pt;
      padding-bottom: 25pt;
    }

    .whitestripe{
      background-color: $light-color;
      height:8pt;
      width:25%;
      margin-bottom: 25pt;
    }

    p{
      font-size: 17pt;
      line-height: 25pt;
    }

    .btnlearn{
      font-size: 15pt;
      background-color: #3b91c2;
      border: 4pt solid white;
      color: $light-color;
      padding: 5pt 5pt 5pt 5pt;
      margin: 300pt 5pt 30pt 100pt;
    }
}

img{
  width: 100%;
}

.design{
       
    font-family: $font-family;
    background-color: #d7d7d7;
    margin: 70pt 50pt 50pt 50pt;

    h2{
      font-size: 19pt;
      padding: 20pt 40pt 20pt  70pt;
    }

    p{
      font-size: 14pt;
      padding: 0 40pt 40pt 70pt;
      line-height: 25pt;
    }
}

//Second row
.row_2{
  display:flex;
  flex-direction: row;
  background-color: $primary-color;
  font-family: $font-family;
  
}
.webdev{
  color:$light-color;
  width: 17%;
  margin: 50pt 30pt 50pt 100pt;

  h3{
    font-size: 19pt;
    padding-bottom: 20pt;
  }
  p{
    font-size: 17pt;
    line-height: 25pt;
    text-align:left;
  }
}

.wire-fr_cust-li{
  margin: 50pt 20pt 50pt 10pt;
  width: 50%;
  color:$light-color;

  h4{
    font-size: 19pt;
    padding-left: 20pt;
    padding-bottom: 20pt;
  }
  p{
    font-size: 17pt;
    padding-left: 20pt;
  }
}
 
// the white box for custom list
.whitebox{
  background-color: $light-color;
  display:flex;
  flex-direction: row;
  color:$dark-color;
  margin-top:20pt;
}

.customlist{
  font-size: 17pt;
  height:auto;
  padding: 20pt 50pt 20pt 20pt;

  h5{
    font-size: 19pt;
  }

  p{
    font-size: 17pt;
    line-height: 25pt;
    padding: 10pt 0 10pt 0;
  }
  table{
  font-size: 17pt;
  line-height: 25pt;
  text-decoration: underline;
}

}
.web-dev{
  width:50%;
  height:auto;
  padding: 20pt 50pt 20pt 20pt;

  h6{
    font-size: 19pt;
  }
  p{
    font-size: 17pt;
    line-height: 25pt;
    padding: 10pt 0 10pt 0;
  }
}

.row_3{
  display:flex;
  flex-direction: row;
  font-family: $font-family;
  margin-left:100pt;
}

.contat{
  margin: 50pt 30pt 50pt 0pt;
  width:30%;
  
  h1{
    font-size: 41pt;
    margin-bottom: 20pt;
  }
    
  .blackstripe{
    background-color:black;
    height:10pt;
    width:10%;
    margin-bottom: 25pt;
  }
      
      
  p{
    font-size: 17pt;
    line-height: 25pt;
  }
     
}

form{
  margin: 150pt 20pt 20pt 30pt;
}

form :focus{
  border: 5px solid black;
}
  
form p{
  font-size: 15pt;
  font-weight: 600;
  margin-bottom: 5pt;
}
input{
  padding: 5pt 200pt 5pt 5pt;
  margin: 1pt 0 20pt 0;
}

textarea{
  padding: 0 215pt 200pt 0;  
}

.send{
  border: 3pt solid $primary-color;
  padding: 4pt 4pt 4pt 4pt;
  background-color: white;
  color: $primary-color;
  font-size: 15pt;
  margin-top: 10pt;
}

// Footer 
footer{
  background-color: #1e2123;
  color:$light-color;
  font-family: inherit;
  display:flex;
  width: auto;
  
}

.leftside{
  font-size:14pt;
  font-family: $font-family;
  padding: 30pt 100pt 30pt 0pt;
  margin-left:100pt;
  line-height: 25pt;
  color:#858585;
}

.footernav {
  display:flex;
  padding-top: 20pt;
  font-family: $font-family;
  float:right;
  margin:0 100pt 0 100pt;
  
}
a {
  text-decoration: none;
  color:white;
  font-size: 14pt;
  font-weight: bold;
  padding: 0 10pt 0 10pt;
  
}

.allrights{
  margin:100pt 0 10pt 310pt;
  padding-bottom: 10pt;
}

.allrights p{
  font-family: $font-family;
  display:inline;
}

.allrights .bold{
  font-weight: 900;
}

.allrights .thick{
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  header {
    width:100%;
  }
  .logo{
    margin:0;
  }
  
}
