
// responsive layout for smartphones

@media screen and (max-width: 600px) {
    header {
      display:block;
    }
    .navleft{
      padding:0;
      margin-left:0;
     }
    .headerbot{
      display:block;
      margin:0;
    }
     .logo{
      width:0%;
      margin:0;
    }
    .topright{
      display:block;
      float:none;
      width: 10%;
      padding: 40pt 100pt 40pt 0;
      margin:0;
    }
    .dropdown .dropbtn {
      margin:0;
    }
    .row_1{
      display:block;
      height:50%;
    }
    .welcome{
      width: 100%;
      margin:0;
      height:50%;
    }
    img{
      width: 100%;
    }
    .design{
      margin:0;
    }
    .row_2{
      display:block;
    }
    .webdev{
      margin:0 5pt 5pt 20pt;
      padding-top: 20pt;
      width: 80%;
    }
    .webdev p{
      width: 70%;
    }
    .wire-fr_cust-li{
      margin:0;
      width:100%;
      padding-top: 20pt;
    }
    .whitebox{
      display: block;
    }
    .web-dev{
      width:100%;
    }
    .row_3{
      display:block;
      margin:10pt 0 0 20pt;
    }
    .contat{
      width: 100%;
    }
  
    form{
      margin:10pt 0 20pt 20pt;
    }
    input{
      padding: 5pt 40pt 5pt 5pt;
    }
  
    textarea{
      padding:0 100pt 50pt 0;
    }
    footer{
      display:flex;
      width: 100%;
    
    .leftside{
      padding: 10pt 10pt 20pt 20pt;
      margin-left:0;
      width:50%;
    }
    .footernav{
      display:block;
      margin:0;
      padding:0;
      float:none;
      flex-direction:none;
    }
    .allrights{
      margin-right:0;
      margin-top:0;
      float:none;
    }
  }
  }
  